__pycache__
.venv
.DS_Store
logs
results
dist
*.tab
oracle
*.ckpt
tmp*
data/edit_bridge
data/building_blocks/building_blocks_mcule.txt
data/processed/**
!data/processed/**/
!data/processed/**/.gitignore
data/trained_model/*
!data/trained_model/.gitignore
poetry.lock
comprehensive_named_v2_final.tsv
